<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    <div class="container-fluid main_menu">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">

          {{>navbar}}
        </div>
    </div>
    </div>
<!-- Main header-->

<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                
                <!--Right Side Div-->
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="images/deepak.jpg" title="Deepak weather" alt="Deepak" class="img-fluid">
                    </figure>
                </div>
                <!--Left Side Div-->
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather app</p>
                    <h1>I am a <span class="txt_clr">good learner</span></h1>
                    <a href="/about"><button>About Me</button></a>

                </div>
                
            </div>
        </div>
    </div>
</div>
    <!--footer code-->
    {{>footer}}
</body>
</html>